@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

p{
    color: red;
}


.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  
  
  
  